.introduce {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  align-items: center;

  @include container-md() {
    grid-template-columns: 1fr;
  }
  .introduce__img {
    position: relative;
    // bottom: 92px;
    z-index: -1;
    @include container-md() {
      &::after {
        content: "";
        display: block;
        padding-top: 56.25%;
      }
    }
    margin-top: -74px;
    @include container-xl() {
      margin-top: -65px;
    }

    img {
      @include container-md() {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    max-width: 500px;
    @include container-md() {
      max-width: 100%;
      text-align: center;
      padding: 16px 20px;
    }
    .slogan {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .content {
      margin-top: 40px;
      font-size: 1.6rem;
      line-height: 1.4;
      @include clipText(5);
      @include container-md() {
        text-align: center;
        margin-top: 20px;
      }
    }
    .btn__introduce {
      display: inline-flex;
      margin-top: 40px;
      @include container-md() {
        margin: 20px auto 0;
      }
    }
  }
}

.application {
  padding-left: 20px;
  padding-right: 20px;

  .list--application {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 20px;
    margin-top: 24px;
    @include container-lg() {
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      &__items:nth-last-child(-n + 2) {
        display: none;
      }
    }
    @include container-md() {
      grid-template-columns: 1fr;
      &__items:nth-last-child(-n + 5) {
        display: none;
      }
    }
    &__items {
      position: relative;
      overflow: hidden;
      &:hover .block--title span {
        bottom: calc(100% - 16px);
      }
      &:hover .block--contenBtn {
        opacity: 1;
        visibility: visible;
      }
      &:hover .application--img::after {
        background: rgba(0, 0, 0, 0.4);
      }
      &:hover .application--img img {
        transform: scale(1.04);
      }
      .application--img {
        position: relative;
        img {
          width: 100%;
          height: auto;
          transition: all 0.2s ease-in;
        }
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(0, 0, 0, 0.3);
          transition: all 0.2s ease-in;
        }
      }

      // position: absolute;
      // left: 50%;
      // top: 50%;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // height: 100%;
      // transform: translate(-50%, -50%);
      // width: 100%;
      // padding: 0 16px;

      .grid--content {
        position: absolute;
        inset: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
      }
      .block--title {
        position: relative;
        grid-area: 5 / 2 / 12 / 12;
        // position: absolute;
        // height: 70%;
        // bottom: 0;
        // width: 100%;
        span {
          position: absolute;
          bottom: 0%;
          display: block;
          width: 100%;
          text-align: center;
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 1.36;
          height: calc(1em * 1.36 * 1);
          color: white;
          // transform: translateX(-50%);
          transition: all 0.2s ease-in;
          @include container-lg() {
            bottom: unset;
          }
        }
        // will-change: ;
      }
      .block--contenBtn {
        grid-column: 2/12;
        grid-row: 6/9;
        opacity: 0;
        visibility: hidden;
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        //   opacity: 0;
        //   visibility: hidden;
        // width: 100%;
        // padding: 0 24px;
        transition: all 0.2s ease-in;
        @include container-lg() {
          opacity: 1;
          visibility: visible;
        }
        .content {
          font-size: 14px;
          color: white;
          text-align: center;
          line-height: 1.36;
          height: calc(1em * 1.36 * 3);
          @include clipText(3);
          @include container-md() {
            @include clipText(2);
            height: calc(1em * 1.36 * 2);
          }
        }
        .mr--btnApplication {
          margin-top: 20px;
          @include container-md() {
            margin-top: 8px;
          }
        }
      }
    }
  }
  .line--slider {
    position: relative;
    margin-top: 24px;
    &__line {
      display: flex;
      width: 100%;
      height: 4px;
      background: rgb(206, 206, 206);
      &::after {
        content: "";
        display: inline-block;
        width: 40%;
        height: 100%;
        background: red;
      }
    }
    .slider__control {
      position: absolute;
      right: 6%;
      top: 100%;
      display: inline-flex;
      align-items: center;
      column-gap: 4px;
      padding: 4px 8px;
      border-radius: 99px;
      background: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      @include container-md() {
        right: 2%;
      }
      & > svg:first-child,
      & > svg:last-child {
        stroke: white;
        width: 15px;
        height: 15px;
        @include container-md() {
          width: 13px;
          height: 13px;
        }
      }
      .animate--pointer {
        --sizePointer: 28px;
        width: calc(var(--sizePointer) + 12px);
        height: auto;
        overflow: hidden;
        &__pointer {
          display: block;
          width: var(--sizePointer);
          height: var(--sizePointer);
          stroke: rgba(255, 255, 255, 1);
          animation: animatiPointer 2s ease-in-out infinite;
          transform: translateX(0);
          @include container-md() {
            --sizePointer: 22px;
          }
        }
        @keyframes animatiPointer {
          0% {
            transform: translateX(0px);
          }
          50% {
            transform: translateX(12px);
          }
          100% {
            transform: translateX(0px);
          }
        }
      }
    }
  }
  .mr--btnApplication {
    margin-top: calc(24px + 36px);
    @include container-md() {
      margin-top: calc(24px + 30px);
    }
  }
}

.office--location {
  margin-top: 40px;

  .block--polygon {
    --widthPolygon: 300px;
    --widthPolygonItem: 102px;
    //
    --positionPolygonItem: 35px;
    --positionYPolygon: 8px;

    margin: calc(var(--widthPolygonItem) - var(--positionPolygonItem) + 24px) 0
      calc(var(--widthPolygonItem) - var(--positionPolygonItem));
    // margin: 80px 0;
    position: relative;

    // check lại
    @include container-lg() {
      --widthPolygon: 260px;
      --widthPolygonItem: 82px;
      --positionYPolygon: 2px;
    }
    @include container-md() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      --widthPolygonItem: 112px;
      gap: 15px;
      width: 100%;
    }

    &__item {
      position: absolute;
      display: flex;
      align-items: center;
      column-gap: 20px;
      z-index: 6;
      @include container-md() {
        flex-direction: column;
        align-items: center;
        transform: unset !important;
        row-gap: 20px;
      }

      @include container-md() {
        position: unset;
      }

      &.orderContentLeft {
        // @include container-lg() {
        //   align-items: flex-end;
        // }
        order: 2;
      }
      &.orderContentLeft .polygon--img {
        // @include container-lg() {
        //   order: unset;
        // }
        order: 2;
        @include container-md() {
          order: 1;
        }
      }
      &.orderContentLeft .polygon--info {
        // @include container-lg() {
        //   order: unset;
        // }
        order: 1;
        text-align: right;
        @include container-md() {
          order: 2;
        }
      }
      .polygon--img {
        flex: 0 0 calc(var(--widthPolygonItem) - 14px);
        width: calc(var(--widthPolygonItem) - 14px);
        // height: var(--widthPolygonItem);
        @include aspect-ratio-pseudo(after, 115.5%);
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.1);
        }
        @include container-md() {
          flex: unset;
        }
      }

      // info polygon item
      .polygon--info {
        min-width: 190px;
        @include container-md() {
          min-width: unset;
          flex-grow: 1;
          text-align: center !important;
        }
        &__title {
          font-size: 2.4rem;
          color: $primary-color;
          font-weight: 600;

          // line-height: 1.34;
          // @include clipText(2);

          // height: calc(1em * 1.34 * 2);
        }
        &__content {
          margin-top: 12px;
          line-height: 1.36;
          font-size: 1.6rem;
          // @include container-lg() {
          //   font-size: 1.4rem;
          // }
          height: calc(1em * 1.4 * 2);
        }
      }
      //set vị trí poligon item
      &:nth-child(1) {
        left: 50%;
        bottom: calc(100% - var(--positionPolygonItem));
        transform: translateX(calc((var(--widthPolygonItem) - 14px) / -2));
      }
      &:nth-child(2) {
        left: calc(100% - var(--positionPolygonItem));
        top: calc(var(--positionPolygonItem) - var(--positionYPolygon));
      }
      &:nth-child(3) {
        left: calc(100% - var(--positionPolygonItem));
        bottom: calc(var(--positionPolygonItem) - var(--positionYPolygon));
      }
      &:nth-child(4) {
        right: 50%;
        top: calc(100% - var(--positionPolygonItem));
        transform: translateX(calc((var(--widthPolygonItem) - 14px) / 2));
      }
      &:nth-child(5) {
        right: calc(100% - var(--positionPolygonItem));
        bottom: calc(var(--positionPolygonItem) - var(--positionYPolygon));
      }
      &:nth-child(6) {
        right: calc(100% - var(--positionPolygonItem));
        top: calc(var(--positionPolygonItem) - var(--positionYPolygon));
      }
    }

    .polygon--blockMobile {
      display: flex;
      justify-content: center;
      @include container-md() {
        grid-area: 1 / 1 / 2 / 3;
      }
    }
    .polygon {
      position: relative;
      @include flexCenter();
      @include polygon();
      width: var(--widthPolygon);
      background: $primary-color;
      @include aspect-ratio-pseudo(after, 115.5%);

      &::before {
        content: "";
        position: absolute;
        @include polygon();
        inset: 1.5px;
        background: white;
      }
      &__lineDashed {
        position: absolute;
        transform: translate(-50%, -50%);
        width: calc(100% + 70px);
        border: 1.5px dashed $primary-color;
        transform: rotate(var(--rotate));
        // hidden line
        @include container-md() {
          display: none;
        }
      }

      .polygon--bg {
        position: absolute;
        --reductionSpace: 145px;
        @include container-md() {
          --reductionSpace: 50px;
        }
        @include flexCenter();
        @include polygon();
        width: calc(var(--widthPolygon) - var(--reductionSpace));
        @include aspect-ratio-pseudo(after, 115.5%);
        filter: drop-shadow(4px 4px 24px rgba(0, 0, 0, 0.2));
        &__img {
          width: calc(var(--widthPolygon) - var(--reductionSpace) - 10px);
          position: absolute;
          @include aspect-ratio-pseudo(after, 115.5%);
        }
      }
    }
  }
}

.style--polygonImg {
  position: relative;
  overflow: hidden;
  @include polygon();
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 100%;
    object-fit: cover;
  }
}

// section facilities
.section--facilities {
  margin-top: 40px;
  .facilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 24px;
    @include container-md() {
      grid-template-columns: 1fr;
      row-gap: 24px;
    }
    // info
    .facilities__info {
      .facilities__title {
        text-align: left;
      }
      .facilities__content {
        margin-top: 16px;
        line-height: 1.36;
      }
    }
    // img
    .facilities__img {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

// section--news-=====
.section--news {
  margin-top: 40px;
  .news {
    .list--news {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, minmax(0px, 1fr));
      margin-top: 24px;
      column-gap: 20px;
      @include container-md() {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        &__item:first-child {
          display: none;
        }
      }
      &__item {
        //thumnail
        .news--thumnail {
          position: relative;
          overflow: hidden;
          &:hover img {
            transform: translate(-50%, -50%) scale(1.05);
          }
          @include aspect-ratio-pseudo(after, 56.25%);
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s linear;
            will-change: transform;
          }
        }
        .news--info {
          margin-top: 12px;
          .news--time {
            display: flex;
            align-items: center;
            column-gap: 4px;
            &__icon {
              width: 14px;
              height: 14px;
              stroke: rgba(129, 129, 129, 1);
            }
            &__content {
              color: rgba(129, 129, 129, 1);
              font-size: 12px;
            }
          }
          // name
          &__name {
            margin-top: 8px;
            font-size: 1.6rem;
            line-height: 1.38;
            font-weight: 600;
            a {
              @include clipText(2);
              transition: all 0.2s linear;
              &:hover {
                color: $primary-color;
                font-size: 1.65rem;
                text-decoration: underline;
              }
              height: calc(1.45rem * 1.65 * 2);
            }
          }
        }
      }
      // control news
      .block--btn__next,
      .block--btn__prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include container-xl() {
          top: 30%;
          transform: unset;
        }
      }
      .block--btn__next {
        right: calc(100% + 20px);
        @include container-xl() {
          right: unset;
          left: 0;
          margin-left: 10px;
        }
      }
      .block--btn__prev {
        left: calc(100% + 20px);
        @include container-xl() {
          left: unset;
          right: 0;
          margin-right: 10px;
        }
      }
      .news--next,
      .news--prev {
        transform: rotate(45deg);
      }
      .news--prev {
        float: right;
      }
    }
    .mr--btnListNews {
      margin-top: 24px;
    }
  }
}

// banner footer
.section--bannerFooter {
  margin-top: 40px;

  .banner--footer {
    position: relative;
    // padding: 50px;

    .banner--img {
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        display: block;
        padding-top: 42.86%;
        @include container-md() {
          padding-top: 56.25%;
        }
      }
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .container.custom--containerBannerFooter {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .content--banner {
      width: 50%;
      color: white;
      @include container-lg() {
        width: 100%;
      }

      &__title {
        font-size: 2.8rem;
        font-weight: 600;
        @include clipText(2);
        @include container-md() {
          font-size: 2.4rem;
        }
      }
      &__mainContent {
        font-size: 1.6rem;
        margin-top: 16px;
        line-height: 1.38;
        @include clipText(5);
        @include container-md() {
          font-size: 1.4rem;
          @include clipText(3);
          margin-top: 12px;
        }
      }
      &__btn {
        margin-top: 40px;
        @include container-md() {
          margin-top: 20px;
        }
      }
    }
  }
}
